
button{
    
}
#demo{
    height: 1080px;
    width: 650px;
}

#myElement{
    width: 550px;
    border: 1px solid red;
    border-radius: 25px;
    margin: 20px;
    padding: 1rem;
}

p{
    display: grid;   
    border: 1.5px solid blue;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
   
}


